.ChatMain
  .MeinHeader
    .MeinHeader__group
      .MeinHeader__groupName test1
      .MeinHeader__groupMember Member : 佐藤愛里
    = link_to "#", class: "MeinHeader__editBtn" do
      Edit

  .MessageList
    .MessageBox
      .MessageBox__MessageInfo
        .MessageBox__MessageInfo__userName 佐藤愛里
        .MessageBox__MessageInfo__date 2020年7月13日 00時00分
      .MessageBox__Message
        %p.Message__content test
    .MessageBox
      .MessageBox__MessageInfo
        .MessageBox__MessageInfo__userName 佐藤愛里
        .MessageBox__MessageInfo__date 2020年7月13日 00時00分
      .MessageBox__Message
        %p.Message__content test2

  .MessageForm
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .InputBox
        = f.text_field :content, class: 'InputBox__text', placeholder: 'type a message'
        = f.label :image, class: 'InputBox__image' do
          = icon('far', 'image', class: 'InputBox__image__icon')
          = f.file_field :image, class: 'InputBox__image__file'
      = f.submit 'Send', class: 'SubmitBtn'