.ChatMain
  .MeinHeader
    .MeinHeader__group
      .MeinHeader__groupName
        = @group.name
      %ul.MeinHeader__groupMember
        Member :
        - @group.users.each do |user|
          %li.MeinHeader__groupMember__member
            =user.name

    = link_to "Edit",edit_group_path(@group.id),class:"MeinHeader__editBtn"

  .MessageList
    = render @messages

  .MessageForm
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .InputBox
        = f.text_field :content, class: 'InputBox__text', placeholder: 'type a message'
        = f.label :image, class: 'InputBox__image' do
          = icon('far', 'image', class: 'InputBox__image__icon')
          = f.file_field :image, class: 'InputBox__image__file'
      = f.submit 'Send', class: 'SubmitBtn'